body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #2f6a49;
    padding: 0 20px;
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: #eeee;
    font-size: 18px;
}

a:hover {
    border-bottom: solid 2px #ffb6c4;
    padding-bottom: 3px;
}

nav {
    margin-top: 30px;
}

/* HERO SECTION */

.hero {
    background-image: url("../assets/header-background.svg");
    background-size: cover;
}

.hero h2 {
    font-size: 80px;
    color: #fe5504;
    padding-top: 275px;
    padding-bottom: 275px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}


/* ABOUT SECTION */
.about {
    background-color: #ffb6c4;
    width: 100%;
    text-align: center;
    color: #2f6a49;
    padding-top: 50px;
    padding-bottom: 80px;
}

.about h3 {
    font-size: 36px;
}
.about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 26px;
}

/* FOOD SECTION    */

.food {
    display: flex;
    color:#2f6a49;
    text-align: left;
    background-color: #ffd400;
}

.food .food-info { 
    padding: 50px 80px 60px;
    width: 400px;
}

.food-info p {
    font-size: 20px;
}

.food-info h3 {
    font-size: 26px;
}

.food img,
.food .food-info{
    width: 50%;
}

/* QUOTE SECTION */
.quote {
    background-color: #ffd7b3;
}
blockquote {
    text-align: center;
    font-size: 36px;
    color: #2f6a49;
    padding: 100px 80px;
    max-width: 700px;
    margin: 0 auto;
}

/* GALLERY SECTION */
.gallery {
    display: flex;
}

.gallery img{
    width: 33.33%;
}

/* FIND US SECTION */

.find-us {
    background-color: #2f6a49;
    color: #ffb6c4;
    display: flex;
    font-size: 20px;
}

.find-us div {
    width: 33.33%;
    padding: 50px 0;
    text-align: center;
}

.find-us div .p {
    max-width: 250px;
}

.find-us img {
    border-radius: 100%;
    height: 280px;
}


/* LOGO SECTION  */

.logos {
    background-color: #ffffff;
    font-size: 20px;
    color: #fe5504;
    text-align: center;
    height: 260px;
}

.logos img {
    width: 150px;
}

.logos .nyt {
    width: 250px;
}

.logos p {
    margin: 50px 0 80px;
}

.logos .logo-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: #ffb6c4;
    display: flex;
    justify-content: space-between;
    color: #2f6a49;
    padding: 10px 20px;
}

@media (max-width: 770px) {
    .hero h2 {
        font-size: 70px;
    }

    .about p {
        font-size: 22px;
        padding-right: 20px;
        
    }

    .food .food-info {
        padding-right: 40px;
        padding-left: 40px;
    }

    .food p,
    .find-us p {
        font-size: 18px;
    }

    .find-us img {
        max-height: 240px;
    }

    .logos img {
        width: 100px;
    }
}

@media (max-width: 440px) {
    header {
        padding-top: 10px;
    }

    header h1 {
        margin: 10px;
    }

    header nav {
        margin: 0 0 5px 10px;
        
        font-size: 12px;
    }

    header nav a {
        margin: 3px;
    }

    .hero h2 {
        font-size: 40px;
    }

    .about h3,
    .food h3{
        font-size: 30px;
    }

    .about p {
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .food .food-info{
        width: 50px;
        padding: 10px;
    }
    
    header,
    .food,
    .gallery img,
    .find-us,
    .logos .logo-img
     {
       display: block;   
    }

    .food .food-info,
    .food img {
        width: 100%;
    }

}